body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #EEEDEF;
}

body p {
    margin: 0;
}

.step-left-background {
    width: 50%;
    height: 100%;
    background-image: url("../img/step-background.jpg");
    color: #fff;
}

.step-right-background {
    width: 50%;
    height: auto;
    background: #EEEDEF;
}

.titulo-credenciales {
    font-size: 40px;
    line-height: 47px;
    color: #4B4B4B;
}

.correo-container {
    display: block;
    color: #4B4B4B;
}

.Rol-container {
    width: 370px;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #CECDCF;
    box-sizing: border-box;
}

.step-right-container input {
    width: 370px;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #CECDCF;
    box-sizing: border-box;
}

.siguiente {
    width: 370px;
    height: 35px;
    background: #8800FF;
    color: #fff;
    font-size: 15px;
    line-height: 33px;
    font-weight: bold;
    outline: none;
    border: none;
    margin-top: 25px;
    cursor: pointer !important;
}

.siguienteCodigo {
    width: 370px;
    height: 35px;
    background: #8800FF;
    color: #fff;
    font-size: 15px;
    line-height: 33px;
    font-weight: bold;
    outline: none;
    border: none;
    margin-top: 25px;
    cursor: pointer !important;
}

.titulo {
    margin-bottom: 20px;
}

.display-important {
    display: none !important;
}

.navbar {
    background-color: #8800FF !important;
    align-items: center;
    padding: .5rem !important;
}

.navbar a {
    color: #fff !important;
}

.btnBuscar {
    background-color: #fff;
    color: #8800FF;
}

.productos-container {
    width: 1586px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    margin: 2rem auto;
}

.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: contain;
    padding: 2rem;
}

.card {
    margin: 0 1rem;
}

.container h3 {
    font-size: 20px;
}

.categoria-box {
    background: #f4b434;
    width: 160px;
    height: 100px;
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 40px;
    margin: .75rem;
    transition: linear .2s;
    cursor: pointer;
}

.categoria-box:hover {
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.13);
}

.categoria-box p {
    margin: auto;
    font-size: 18px !important;
}

.card-productos {
    background: #fff;
    transition: linear .2s;
    width: 312px;
    height: 410px;
    margin: .50rem;
    transition: linear .2s;
    padding: 0;
    cursor: pointer;
}

.card-productos:hover {
    -webkit-box-shadow: 1px 5px 15px 6px rgba(0, 0, 0, 0.13);
    box-shadow: 1px 5px 15px 6px rgba(0, 0, 0, 0.13);
}

.card-productos img {
    max-width: 220px;
    max-height: 220px;
    margin: auto;
    display: flex;
}

.card-productos p {
    font-size: 18px;
}

.btn-producto {
    width: 100%;
    background: #8800FF;
    color: #fff;
    outline: none;
    height: 45px;
}

.producto-img-container {
    height: 31vh !important;
}

.btn-producto:hover {
    color: #e6e6e6;
}

.envio {
    color: #00a650;
    font-size: 16px !important;
    font-weight: 500;
    line-height: 16px;
    margin: 2px 0 0;
}

.card-productos hr {
    margin: 0 !important;
    color: #adadad;
}

.ver-mas {
    color: #f4b434;
    font-size: 20px;
    text-decoration: none;
}

.ver-mas:hover {
    color: #e4a72d;
}

.titulo-producto {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.producto-input {
    display: block;
    color: #4B4B4B;
}

.producto-input input,
.producto-input textarea {
    width: 100%;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #CECDCF;
    box-sizing: border-box;
}

.aceptar,
.cancelar {
    width: 100px;
    height: 35px;
    background: #8800FF;
    color: #fff;
    font-size: 15px;
    line-height: 33px;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
}

.cancelar {
    background-color: #c91313 !important;
}

#email-error {
    color: red;
}

#password-error {
    color: red;
}

#confirmpassword-error {
    color: red;
}

#nombre-error {
    color: red;
}

#apellido-error {
    color: red;
}

#fechaNacimiento-error {
    color: red;
}

#Dni-error {
    color: red;
}

#combobox-error {
    color: red;
}

#usuario-error {
    color: red;
}

footer {
    position: absolute;
    width: 100%;
}

.footer {
    background-color: #8800FF;
    height: 10vh;
    color: #fff;
}

.btn-warning {
    color: #fff !important;
}

.precio {
    color: #37bd4e;
}