body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #EEEDEF;
}

body p{
    margin: 0;
}

.step-left-background{
    width: 50%;
    height: 100%;
    background-image: url("../imagenes/step-background.jpg");
    color: #fff;
}


.step-right-background{
    width: 50%;
    height: auto;
    background: #EEEDEF;
}


.titulo-credenciales{
    font-size: 40px;
    line-height: 47px;
    color: #4B4B4B;
}

.correo-container{
    display: block;
    color: #4B4B4B;
}

.step-right-container input{
    width: 370px;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #CECDCF;
    box-sizing: border-box;
}

.siguiente{
    width: 370px;
    height: 35px;
    background: #8800FF;
    color: #fff;
    font-size: 15px;
    line-height: 33px;
    font-weight: bold;
    outline: none;
    border: none;
    margin-top: 25px;
}

.titulo{
    margin-bottom: 20px;
}

.display-important{
    display: none !important;
}

.navbar {
    background-color: #8800FF !important;
    align-items: center;
}

.navbar a{
    color: #fff !important;
}